@charset "UTF-8";
/* CSS Document */

               body 
               {
                   background-color: black;
                   
                   margin-left: 200px;
                   margin-right: 200px;
                   margin-top: 200px;
                   margin-bottom:200px;
                   
                   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace''DejaVu Sans', 'sans-serif';
				   
                   
               } 
               
               h1
               {
                   font-size: 47px;
                   font-family: Brush Script Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
				   color: aqua;
				   text-align: center;
    
                   
               }
               
               h2
               {
                   font-size: 27px;
                   font-family: Impact;
                   color: coral;
				   text-align: center
               }
               
               h3
               {
                   font-size: 22px;
				   color:darkorange;
				   text-align: center
               }
               
               p
               {
                   font-size: 13px;
				   color: darkorange;
				   text-align: center;
                   
               }
               
